In [3]:
import pandas as pd
import csv

In [5]:
data = pd.read_csv('../../data/data1.csv',sep=';')
data

,ts,Consumo,Sensor 1,Sensor 2,potencia 1,potencia 2,voltaje
0,2021-07-06T05:00:21.779Z,32.345627,16.006992,16.338636,2017.132202,2058.924561,126.015694
1,2021-07-06T05:01:21.784Z,32.261688,16.060499,16.201187,2025.656250,2043.400635,126.126602
2,2021-07-06T05:02:21.782Z,33.683365,17.261465,16.421902,2176.436523,2070.578857,126.086426
3,2021-07-06T05:03:21.783Z,32.975597,16.544708,16.430889,2088.793213,2074.423340,126.251442
4,2021-07-06T05:04:21.785Z,38.917267,19.563198,19.354067,2466.679932,2440.311035,126.087761
...,...,...,...,...,...,...,...
38413,2021-08-06T04:55:35.810Z,12.799702,6.239447,6.560254,784.612549,824.954163,125.750336
38414,2021-08-06T04:56:35.815Z,12.842651,6.210476,6.632175,781.996704,835.095337,125.915749
38415,2021-08-06T04:57:35.811Z,12.731081,6.157272,6.573810,775.474243,827.934875,125.944458
38416,2021-08-06T04:58:35.821Z,12.989143,6.247071,6.742072,786.553345,848.877625,125.907539
38417,2021-08-06T04:59:35.815Z,12.929454,6.243504,6.685950,785.174500,840.815857,125.758629

In [7]:
data.columns
#data[data['ts']]

Index(['ts', 'Consumo', 'Sensor 1', 'Sensor 2', 'potencia 1', 'potencia 2',
       'voltaje'],
      dtype='object')

In [8]:
p1_u = []
p2_u = []
consumo= []
vol_u = []
hora = []
fecha = []
for i in list(data['ts']):
        u_p1 = float(data[data['ts']==i]['potencia 1'].values)
        p1_u.append(u_p1)
        u_p2    =   float(data[data['ts']==i]['potencia 2'].values)
        p2_u.append(u_p2)
        vol_u = float(data[data['ts']==i]['voltaje'].values)
        consumo.append((u_p1+u_p2))
        tiempo = data[data['ts']==i]['ts'].values
        tiempo = str(data[data['ts']==i]['ts'].values)
        corte = tiempo.split("T")
        fecha.append(tiempo.split("T")[0])
        hora.append(tiempo.split("T")[1][:8])
        #hora.append(i)

In [11]:
data_final = pd.DataFrame({
    'hora' :hora,
    'P1' :p1_u,
    'P2' :p2_u,
    'consumo': consumo
    #'vol_u':vol_u
    })

In [12]:
#data_final

In [14]:
data_final.to_csv('./final.csv')

In [16]:
#tiempos = list(data['ts'])
#tiempo = str(data[data['ts']==1]['ts'].values)
#tiempo = str(tiempos[1])
#tiempo

In [18]:
#fecha = tiempo.split('T',1)[1][:8]
#fecha = tiempo[0:len(tiempo.split("T"))]
#fecha[1][0:8]
#fecha